# Mac
.DS_Store

# Windows
Thumbs.db

# DirectXTex-aug2015
DirectXTex-aug2015/
!DirectXTex-aug2015/DirectXTex-aug2015_readme.txt

# libpng
libpng/
!libpng/Android.mk
!libpng/libpng_readme.txt

# rapidjson
rapidjson/
!rapidjson/rapidjson_readme.txt

# Android Studio
build/
obj/
.idea/
.gradle/
local.properties
*.iml
*.lock
*.bin
*.so

# Xcode
*.xcuserdatad/
xcuserdata/
xcshareddata/